*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
#main{
    background-color:wheat;
    margin: 0 auto;
    justify-content: center;
}
#start{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    background-color:green;
    color: white;
    cursor: pointer;
}
.intro{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    padding: 20px;
}
.button1{
    /* padding: 5px; */
    /* width: 15%; */
    box-shadow: 2px 4px 6px 0px;
    transform: rotate(20deg);
}
.button2{
    /* padding: 5px; */
    /* width: 15%; */
    box-shadow: 2px 4px 6px 0px;
    transform: rotate(-20deg);
}

img{
    cursor: pointer;
    width: 100px;
}
.btns{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* display: block; */
}
footer{
    text-align: center;
    padding: 20px;
}